html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

*{margin:0;padding:0}

body{color:#FFF;background:rgb(0, 0, 0);margin:0;padding:0;font-family:tahoma;min-height:2000px}
span.logo{position:fixed;z-index:99999;margin:25px 0 0 32px;font-size:19px;font-weight:bold;color:rgb(255, 255, 255)}
span.logo span{color:rgb(0, 0, 0)}
ul{text-align:center;list-style:none;padding:0;margin:0;height:50px;position:fixed;width:100%;top:0;left:0;z-index:1}
ul li{display:inline-block;cursor:pointer}
ul li a{text-decoration:none;color:rgb(255, 255, 255);display:block;padding:27px 35px;transition:all 0.5s ease;font-size:14px;font-weight:bold}
ul li a:hover{color:rgb(110, 110, 110);}
#all-div{width:100%;height:100%;position:absolute;text-align:center;font-size:25px;font-weight:bold;font-family:Arial, Helvetica, sans-serif}
.home{font-size:12px; font-family: 'B612 Mono', monospace;} 
#link1 {background: #000000;height:100%;padding-top:100px;color: #ffffff}
#link2{background: #000000;height:100%;padding-top:100px;}
#link3{background: #000000;height:100%;padding-top:100px;}

*, 
*:before, 
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

p { 
    position: absolute;
    padding-left: 35%;
    font-size: 15px;
    font-style: italic;
    font-family: 'Lora', serif;
    mix-blend-mode:difference;
}


h4 {
    position: absolute;
    padding-top: 200%;
    padding-left: 30%;
    mix-blend-mode:lighten;
    font-style: italic;
    font-family: 'Lora', serif;
    font-size: 30px;
    text-align: center;
}

h5 {
    font-size: 80px;
    position: absolute;
    padding-left: 8%;
    mix-blend-mode:difference;
    text-align: left
}

h2 {
    mix-blend-mode:difference;
    font-size: 90px;
    position: absolute;
    padding-left: 60%;
    padding-top: 20%;
    text-align: left

}

h6 {
    mix-blend-mode:difference;
    font-size: 300px;
    position: absolute;
    padding-left: 50%;
    padding-top: 20%
}

.dir {
    text-align: left;
   
}
.sig {
    text-align: left;
    padding-left: 70%;
}

footer {
    background-color: #000;
    font-size: 11px;
    color: #cccccc;
    padding: 30px 30px 30px 30px
}

#six {
    padding-left: 10%;
    padding-top: 20%
}
 
 nav ul {
     list-style:none;
 }

 ul, ol, li{
     list-style-type: none;
 }
 input, select {
     vertical-align:middle;
 }
 
 .list{
     margin-right: 10px;
     margin-left: 10px;
     margin-top: 20px;
 }
 .list{
     margin-right: -10px;
     margin-left: -10px;
     margin-top: 20px;
     position: relative;
 }
 .list li{
     display: inline-block;
     width: 25%;
     padding-right: 10px;
     padding-left: 10px;
     vertical-align: top;
     box-sizing: border-box;
 }
 .list li a{
     display: block;
     position: relative;
     width: 100%;
     cursor: pointer;
 }
 .list li a img{
     display: inline-block;
     width: 100%;
     vertical-align: top;
 }
 
 .list li a::before{
     content:""; 
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border: 0 solid rgba(255, 255, 255, 0);
     box-sizing: border-box;
 }

 #videobcg { 
    position: relative;
    top: 0x;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .tracking-in-expand{animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}

  @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
  